<p>
  <%= label 'settings[enable_log]', l(:enable_log, scope: :html_search) %>
  <%= hidden_field_tag('settings[enable_log]', false) %>
  <%= check_box_tag('settings[enable_log]', true, @settings['enable_log'] == 'true') %>
  <%= content_tag :em, l(:enable_log_info, scope: :html_search), class: 'info' %>
</p>